*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main-color{
    color: #56a0cb !important;
}
.main-colorbg{
    background-color: #56a0cb !important;
}
.link-light:hover{
    color: #56a0cb !important;
    font-weight: bold !important;
}


